.header {
    width: 100%;
    height: 20%;

    .navbar {
        .flex-layout(space-between, center);
        background-color: @main-header;

        .brand-title{
            font-size: 3rem;
            margin: 1.5rem;
            color: @castle-grey;
            font-family: new_walt_disney_uiregular;
        }

        .navbar-links{

            ul{
                margin: 0;
                padding: 0;
                display: flex;

                li{
                    list-style: none;
                    &:hover{
                        background-color: @nav-hover;
                        text-transform: uppercase;
                    }
                    
                    @media (max-width: 800px) {
                        text-align: center;
                    }

                    a{
                     text-decoration: none;
                     color: @castle-grey;
                     padding: 2rem;
                     display: block;  
                     font-size: 1.8rem;

                     @media (max-width: 800px) {
                        padding: .5rem 1rem;
                    }
                    
                    }
                }

                @media (max-width: 800px) {
                    width: 100%;
                    flex-direction: column;
                }
            }

            @media (max-width: 800px) {
                display: none;
                width: 100%;
            }
        }

        .toggle-button{
            position: absolute;
            top: 1.5rem;
            right: 1rem;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 21px;

            @media (max-width: 800px) {
                display: flex;
            }

            .bar{
                height: 3px;
                width: 100%;
                background-color: @castle-grey;
                border-radius: 10px;
            }
        }

        @media (max-width: 800px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .section1 {
        
        p {
            .main-font(@main-header, 10em);
            text-align: center;
        }
        .main-gif {
            .flex-layout(center, center);
            padding-bottom: 3%;
            padding-top: 1%;
        }
    }
    
}

// <nav class="navbar">
  
// <a href="index.html" class="nav-link">Home</a>
// <a href="about.html" class="nav-link">About</a>
// <a href="#" class="nav-link">Login</a>
// <a href="mailto:disneyparent@gmail.com?subject=NOT A REAL EMAIL!" target="_blank" class="nav-link">Contact</a>

// </nav>

// Media Queries
@media (max-width: 800px) {
   .navbar-links.active {
       display: flex;
   }                
}
