.header {
    width: 100%;
    height: 20%;

    .navbar {
        background-color: @main-header;
        .flex-layout(center, space-between);
        flex-direction: row;
        
            .nav-link {
                text-decoration: none;
                .header-font(@castle-grey, 8em);
                padding-right: 8%;
                padding-bottom: 2%;
                padding-top: 2%;
                
                &:hover {
                        color: @twitter;
                        font-size: 10em;
                    }

            }
    }
    .section1 {
        
        p {
            .main-font(@main-header, 10em);
            text-align: center;
        }
        .main-gif {
            .flex-layout(center, center);
            padding-bottom: 3%;
            padding-top: 1%;
        }
    }
    
}